@import "bootstrap/scss/bootstrap-utilities";

// Custom variables______________________________________
//_______________________________________________________

$body-bg: $light;
$card-bg: $white;
$card-cap-bg: $gray-800;
$nav-link-font-weight: 500;
$card-title-spacer-y: $spacer;

@import "bootstrap/scss/bootstrap";

// Custom classes______________________________________
//_______________________________________________________

.max-width-600 {
  max-width: 600px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 1s linear infinite;
}

// Global reset______________________________________
//_______________________________________________________

a {
  transition: .3s;

  &:hover {
    transition: .3s;
    text-decoration: none;
  }
}

